
html{
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222;
    height: 100vh;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
}

.cubo, .mini_cubo{
    display: grid;
    grid-template-columns: repeat(4, 85px);
    grid-template-rows: repeat(3, 85px);
    margin: auto;
    margin-top: 50px;
}

.cara{
    width: 65px;
    height: 65px;
    margin: 0;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3,30%);
    grid-template-rows: repeat(3,30%);
    gap: 7px;
}

.notacion{
    width: 40%;
    user-select: none;
}

.time{
    display: flex;
    background-color: #ccc;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 30%;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}

.archivador{
    display: flex;
    flex-direction: column;
    background-color: #444;
    border: 1px solid white;
    width: 250px;
    height: 280px;
    padding: 20px 15px;
    position: relative;
    top:-30px;
    gap: 8px;
    overflow-y: scroll;
}

.data{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.record{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.indice, .tiempo{
    font-family: sans-serif;
    font-size: 20px;
    padding: 3px 0;
}

.indice{
    color: #bbb;
    font-weight: bold;
}

.tiempo{
    color: #090;
    font-weight: 200;
}

.tiempo:hover{
    text-decoration: underline;
    cursor: pointer;
}

.cara:nth-child(1){
    grid-column: 2/3;
    grid-row: 1/2;
}

.btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mini_btn{
    background-color: transparent;
    border: none;
    color: #777;
    font-family: sans-serif;
    font-size: 17px;
    padding: 7px 9px;
    font-weight: bold;
}

.mini_btn:nth-child(3){
    color: #bbb;
}


.mini_btn:hover{
    cursor: pointer;
}

.cara:nth-child(2){
    grid-column: 4/5;
    grid-row: 2/3;
}

.cara:nth-child(3){
    grid-column: 2/3;
    grid-row: 2/3;
}

.cara:nth-child(4){
    grid-column: 2/3;
    grid-row: 3/4;
}

.cara:nth-child(5){
    grid-column: 3/4;
    grid-row: 2/3;
}

.cara:nth-child(6){
    grid-column: 1/2;
    grid-row: 2/3;
}

.cara div{
    width: 100%;
    height: 100%;
}


.check{
    display: none;
}

.white{
    border: 1px solid #fff;
    background-color: #fff;
}

.blue{
    border: 1px solid blue;
    background-color: blue;
}

.green{
    border: 1px solid green;
    background-color: green;
}

.yellow{
    border: 1px solid yellow;
    background-color: yellow;
}

.red{
    border: 1px solid red;
    background-color: red;
}

.orange{
    border: 1px solid orange;
    background-color: orange;
}

button, .label{
    padding: 10px 15px;
    background-color: #eee;
    font-family: sans-serif;
    font-size: 18px;
    user-select: none;
}



.overlay_card{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #000c;
    position: absolute;
    z-index: 1;
}

.card{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #222;
    height: 90%;
    width: 35%;
    border-radius: 30px;
}

.btns_card_top{
    display: flex;
    min-width: 100%;
    justify-content: end;
    align-items: end;
    height: 11%;
    position: relative;
}

.btn_card_start{
    background-color: #444;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn_card_start:first-child{
    position: absolute;
    left: 0;
    margin-left: 20px;
}

.btn_card_start:nth-child(2){
    margin-right: 10px;
}

.btn_card_start:nth-child(3){
    justify-self: end;
    align-self: start;
    margin: 0;
    background-color: transparent;
    color: #ccc;
    font-family: sans-serif;
    font-size: 22px;
    border: none;
    padding: 20px;
}

.btn_card_start:nth-child(3):hover{
    cursor: pointer;
}

.options_card{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 30px;
}

.btn_card_bottom{
    display: flex;
    margin: auto;
    gap: 10px;
}

.btn_card_end{
    font-size: 17px;
    padding: 4px 9px;
    background-color: #444;
    color: white;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
}

.btn_card_end:first-child{
    cursor: initial;
}

.time_card{
    font-size: 83px;
    font-family: sans-serif;
    color: white;
    text-align: center;
}

.date_card{
    font-size: 14px;
    margin: 10px;
    font-family: monospace;
    color: #ccc;
    text-align: center;
}

.scramble_card{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.cubo_card{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.cubo_card .mini_cubo{
    margin: auto;
}

.combination_card{
    margin: auto;
    margin-top: 20px;
    text-wrap: wrap;
    width: 80%;
    color: white;
    font-family: monospace;
    font-size: 19px;
    text-align: center;
}

.promedios{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #666;
    border-radius: 30px;
}

.box_promedios{
    display: grid;
    grid-template-columns: repeat(3, 155px);
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
    gap: 8px;
}

.promedios_ao5{
    display: flex;
    flex-direction: column;
    background-color: #333;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    z-index: 1;
}


.promedios_ao5:nth-child(5){
    grid-column: 1/3;
    grid-row: 2/4;
}


.promedios_ao5 select{
    margin: 5px 13px;
    padding: 9px;
    padding-bottom: none;
    width: 80%;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: none;
    transition: 2s border;

}

.promedios_ao5 select:hover{
    cursor: pointer;
}


.promedios_ao5 option{
    background-color: #333;
    border: none;

}


.time_promedio{
    display: flex;
    margin: auto;
    margin-top: 1px;
    margin-bottom: none;
    font-size: 25px;
    color: white;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.time_promedio:hover{
    text-decoration: underline;
    cursor: pointer;
}
.dates{
    display: flex;
    padding: 10px;
}
.dates h2{
    padding: 5px;
    margin: auto;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}